@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Euphoria+Script&family=Libre+Baskerville:wght@700&family=Playfair+Display&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #FFFAF3;
    width: 100%;
}

.nav {
    font-size: 18px;
    /*	position: fixed;*/
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70px;
    width: 100%;
    color: #8c5b72;
    z-index: 5;
    margin: 0px;
    list-style: none;
    fill-opacity: 70%;
    border-bottom: solid #8c5b72;
}

#logo {
    display: flex;
}

header {
    font-family: 'Playfair Display';
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
    width: 280px;
    text-align: center;
    display: flex;
    justify-content: flex-start;
}

.link {
    text-decoration: none;
    color: #8c5b72;
}

.tabs {
    display: flex;
    list-style: none;
    column-gap: 10px;
    padding: 0px;
    /*	margin-right: 20px;*/
}

.tab {
    margin: 10px;
    cursor: pointer;
    margin-top: 25.5px;
    margin-bottom: 25px;
    font-family: 'Playfair Display';
    font-weight: bold;
}

.intro {
    background-image: url(https://i.pinimg.com/564x/5e/48/27/5e482778739d99a90c3eda38182175ac.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
    height: 315px;
}

.intro-container {
    display: flex;
    width: 400px;
    height: 290px;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
}

.welcome {
    display: flex;
    border: solid beige;
    color: black;
    background: beige;
    opacity: 60%;
    border-radius: 50%;
    text-align: center;
    align-content: center;
    width: 500px;
    height: 260px;
    flex-direction: column;
    justify-content: center;
    font-family: 'Playfair Display';
}

    .welcome h1 {
        flex-wrap: wrap;
        align-self: center;
        font-size: 35px;
        margin: 0;
    }

    .welcome h3 {
        font-style: italic;
    }

#container {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
}

.contact-container {
    width: 50%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: column wrap;
    background-color: rgba(140, 91, 119, 0.5);
}

.contact-container h1 {
    margin: 10px 0px;
    text-align: center;
    color: #FFFAF3;
}

.icons {
    display: flex;
    justify-content: center;
}

.form-container {
    display: flex;
    width: 50%;
    height: 400px;
    justify-content: center;
    align-content: center;
    flex-flow: column wrap;
}

.form {
    display: flex;
    flex-flow: column wrap;
    height: 400px;
    justify-content: center;
    align-content: center;
    width: 100%;
}

h2, p {
    width: 100%;
    display: flex;
    font-family: 'Playfair Display';
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #8c5b72;
    margin: 10px 0px 5px 0px;
}

textarea, #formButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

/*#formButton {
    margin-top: 20px;
    width: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: Migra;
    font-weight: bold;
    background-color: #8c5b72;
    color: #FFFAF3;
    box-shadow: none;
}*/

#formButton {
    align-items: center;
    background-color: #8c5b72;
    border: 1px solid #8c5b72;
    border-radius: 8px;
    box-sizing: border-box;
    color: #FFFAF3;
    cursor: pointer;
    display: flex;
    font-family: 'Playfair Display';
    font-size: 12px;
    height: 30px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    margin-top: 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#formButton:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 35px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

#formButton:hover:after {
  transform: translate(0, 0);
}

#formButtonactive {
  background-color: #ffdeda;
  outline: 0;
}

#formButtonhover {
  outline: 0;
}

@media (min-width: 768px) {
  #formButton{
    padding: 0 40px;
  }
}
